# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE related
*.iml
*.ipr
*.iws
.idea/
.qoder/
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
/build/
/coverage/

# Generated platform files
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release
